In [1]:
import sdmetrics
import json
import pandas as pd
print(sdmetrics.__version__)

0.13.0

In [2]:
with open('dataset/adult.json') as f:
    metadata = json.load(f)

In [3]:
real_data = pd.read_csv('dataset/adult.csv')

In [4]:
real_data.shape

(32561, 15)

In [4]:
metadata

{'METADATA_SPEC_VERSION': 'SINGLE_TABLE_V1',
 'columns': {'age': {'sdtype': 'numerical'},
  'workclass': {'sdtype': 'categorical'},
  'fnlwgt': {'sdtype': 'numerical'},
  'education': {'sdtype': 'categorical'},
  'education-num': {'sdtype': 'numerical'},
  'marital-status': {'sdtype': 'categorical'},
  'occupation': {'sdtype': 'categorical'},
  'relationship': {'sdtype': 'categorical'},
  'race': {'sdtype': 'categorical'},
  'sex': {'sdtype': 'categorical'},
  'capital-gain': {'sdtype': 'numerical'},
  'capital-loss': {'sdtype': 'numerical'},
  'hours-per-week': {'sdtype': 'numerical'},
  'native-country': {'sdtype': 'categorical'},
  'income': {'sdtype': 'categorical'}}}

In [26]:
copula =  pd.read_csv('dataset/copula_1000.csv')
copula_gan =  pd.read_csv('dataset/copula-gan_1000.csv')
ctgan =  pd.read_csv('dataset/ctgan_1000.csv')
vae =  pd.read_csv('dataset/vae_100.csv')

In [27]:
from sdmetrics.reports.single_table import QualityReport

report_copula = QualityReport()
report_copula_gan = QualityReport()
report_ctgan = QualityReport()
report_vae = QualityReport()

In [28]:
# report_copula.generate(real_data, copula, metadata)
# report_copula_gan.generate(real_data, copula_gan, metadata)
# report_ctgan.generate(real_data, ctgan, metadata)
report_vae.generate(real_data, vae, metadata)

Generating report ...
(1/2) Evaluating Column Shapes: : 100%|██████████| 15/15 [00:00<00:00, 194.23it/s]
(2/2) Evaluating Column Pair Trends: : 100%|██████████| 105/105 [00:03<00:00, 34.68it/s]

Overall Score: 81.91%

Properties:
- Column Shapes: 89.34%
- Column Pair Trends: 74.49%

In [13]:
print("copula: ", report_copula.get_score())
print("copula_gan: ", report_copula_gan.get_score())
print("ctgan: ", report_ctgan.get_score())
print("vae: ", report_vae.get_score())

coupla:  0.8244654049979703
coupla_gan:  0.8726659494987878
ctgan:  0.8209730841618488
vae:  0.845251245536859

In [14]:
report_copula.get_details(property_name='Column Shapes')

            Column        Metric     Score
0              age  KSComplement  0.972406
1        workclass  TVComplement  0.977583
2           fnlwgt  KSComplement  0.929840
3        education  TVComplement  0.972923
4    education-num  KSComplement  0.850616
5   marital-status  TVComplement  0.971429
6       occupation  TVComplement  0.960879
7     relationship  TVComplement  0.980990
8             race  TVComplement  0.980852
9              sex  TVComplement  0.991205
10    capital-gain  KSComplement  0.091290
11    capital-loss  KSComplement  0.525651
12  hours-per-week  KSComplement  0.778414
13  native-country  TVComplement  0.973509
14          income  TVComplement  0.988810

In [15]:
report_copula_gan.get_details(property_name='Column Shapes')

            Column        Metric     Score
0              age  KSComplement  0.938438
1        workclass  TVComplement  0.939683
2           fnlwgt  KSComplement  0.904757
3        education  TVComplement  0.907905
4    education-num  KSComplement  0.938318
5   marital-status  TVComplement  0.948475
6       occupation  TVComplement  0.882893
7     relationship  TVComplement  0.884176
8             race  TVComplement  0.958726
9              sex  TVComplement  0.926795
10    capital-gain  KSComplement  0.936484
11    capital-loss  KSComplement  0.961428
12  hours-per-week  KSComplement  0.932542
13  native-country  TVComplement  0.868050
14          income  TVComplement  0.974810

In [16]:
report_ctgan.get_details(property_name='Column Shapes')

            Column        Metric     Score
0              age  KSComplement  0.890700
1        workclass  TVComplement  0.786970
2           fnlwgt  KSComplement  0.974682
3        education  TVComplement  0.881432
4    education-num  KSComplement  0.934318
5   marital-status  TVComplement  0.929520
6       occupation  TVComplement  0.813552
7     relationship  TVComplement  0.884344
8             race  TVComplement  0.961461
9              sex  TVComplement  0.916795
10    capital-gain  KSComplement  0.438290
11    capital-loss  KSComplement  0.974349
12  hours-per-week  KSComplement  0.927732
13  native-country  TVComplement  0.897401
14          income  TVComplement  0.977190

In [17]:
report_vae.get_details(property_name='Column Shapes')

            Column        Metric     Score
0              age  KSComplement  0.900467
1        workclass  TVComplement  0.892310
2           fnlwgt  KSComplement  0.554887
3        education  TVComplement  0.922572
4    education-num  KSComplement  0.964480
5   marital-status  TVComplement  0.943543
6       occupation  TVComplement  0.910173
7     relationship  TVComplement  0.908216
8             race  TVComplement  0.961852
9              sex  TVComplement  0.981205
10    capital-gain  KSComplement  0.592290
11    capital-loss  KSComplement  0.985285
12  hours-per-week  KSComplement  0.959586
13  native-country  TVComplement  0.930242
14          income  TVComplement  0.972190

In [18]:
fig = report_copula.get_visualization(property_name='Column Shapes')
fig.show()

In [19]:
fig = report_copula_gan.get_visualization(property_name='Column Shapes')
fig.show()

In [20]:
fig = report_ctgan.get_visualization(property_name='Column Shapes')
fig.show()

In [21]:
fig = report_vae.get_visualization(property_name='Column Shapes')
fig.show()

In [31]:
from sdmetrics.visualization import get_column_plot

fig = get_column_plot(
    real_data=real_data,
    synthetic_data=ctgan,
    column_name='age',
    plot_type='distplot'
)
fig.show()

In [30]:
report_copula_gan.get_visualization('Column Pair Trends')

In [29]:
report_ctgan.get_visualization('Column Pair Trends')

In [28]:
report_vae.get_visualization('Column Pair Trends')

In [24]:
from sdmetrics.single_column import BoundaryAdherence

BoundaryAdherence.compute(
    real_data=real_data['capital-gain'],
    synthetic_data=vae['capital-gain']
)

1.0

In [31]:
from sdmetrics.visualization import get_column_plot

fig = get_column_plot(
    real_data=real_data,
    synthetic_data=vae,
    column_name='education-num',
    plot_type='distplot'
)
fig.show()