In [1]:
import sdmetrics
import json
import pandas as pd
print(sdmetrics.__version__)

0.13.0

In [7]:
with open('dataset/adult.json') as f:
    metadata = json.load(f)

In [8]:
real_data = pd.read_csv('dataset/adult.csv')

In [12]:
metadata

{'METADATA_SPEC_VERSION': 'SINGLE_TABLE_V1',
 'columns': {'age': {'sdtype': 'numerical'},
  'workclass': {'sdtype': 'categorical'},
  'fnlwgt': {'sdtype': 'numerical'},
  'education': {'sdtype': 'categorical'},
  'education-num': {'sdtype': 'numerical'},
  'marital-status': {'sdtype': 'categorical'},
  'occupation': {'sdtype': 'categorical'},
  'relationship': {'sdtype': 'categorical'},
  'race': {'sdtype': 'categorical'},
  'sex': {'sdtype': 'categorical'},
  'capital-gain': {'sdtype': 'numerical'},
  'capital-loss': {'sdtype': 'numerical'},
  'hours-per-week': {'sdtype': 'numerical'},
  'native-country': {'sdtype': 'categorical'},
  'income': {'sdtype': 'categorical'}}}

In [9]:
coupla =  pd.read_csv('dataset/coupla.csv')
coupla_gan =  pd.read_csv('dataset/coupla-gan.csv')
ctgan =  pd.read_csv('dataset/ctgan.csv')
vae =  pd.read_csv('dataset/vae.csv')

In [20]:
from sdmetrics.reports.single_table import QualityReport

report_coupla = QualityReport()
report_coupla_gan = QualityReport()
report_ctgan = QualityReport()
report_vae = QualityReport()

In [21]:
report_coupla.generate(real_data, coupla, metadata)
report_coupla_gan.generate(real_data, coupla_gan, metadata)
report_ctgan.generate(real_data, ctgan, metadata)
report_vae.generate(real_data, vae, metadata)

Generating report ...
(1/2) Evaluating Column Shapes: : 100%|██████████| 15/15 [00:00<00:00, 143.51it/s]
(2/2) Evaluating Column Pair Trends: : 100%|██████████| 105/105 [00:03<00:00, 33.87it/s]

Overall Score: 82.84%

Properties:
- Column Shapes: 87.02%
- Column Pair Trends: 78.67%
Generating report ...
(1/2) Evaluating Column Shapes: : 100%|██████████| 15/15 [00:00<00:00, 169.52it/s]
(2/2) Evaluating Column Pair Trends: : 100%|██████████| 105/105 [00:02<00:00, 35.12it/s]

Overall Score: 86.05%

Properties:
- Column Shapes: 92.81%
- Column Pair Trends: 79.29%
Generating report ...
(1/2) Evaluating Column Shapes: : 100%|██████████| 15/15 [00:00<00:00, 192.48it/s]
(2/2) Evaluating Column Pair Trends: : 100%|██████████| 105/105 [00:03<00:00, 34.18it/s]

Overall Score: 84.93%

Properties:
- Column Shapes: 88.97%
- Column Pair Trends: 80.9%
Generating report ...
(1/2) Evaluating Column Shapes: : 100%|██████████| 15/15 [00:00<00:00, 201.70it/s]
(2/2) Evaluating Column Pair Trends: : 100%|██████████| 105/105 [00:03<00:00, 32.85it/s]

Overall Score: 86.96%

Properties:
- Column Shapes: 89.88%
- Column Pair Trends: 84.03%

In [22]:
print("coupla: ", report_coupla.get_score())
print("coupla_gan: ", report_coupla_gan.get_score())
print("ctgan: ", report_ctgan.get_score())
print("vae: ", report_vae.get_score())

coupla:  0.828422139979351
coupla_gan:  0.8604567502843441
ctgan:  0.8493472119112178
vae:  0.8695622191972179

In [23]:
report_coupla.get_details(property_name='Column Shapes')

            Column        Metric     Score
0              age  KSComplement  0.972970
1        workclass  TVComplement  0.990125
2           fnlwgt  KSComplement  0.957013
3        education  TVComplement  0.974763
4    education-num  KSComplement  0.856816
5   marital-status  TVComplement  0.986543
6       occupation  TVComplement  0.987472
7     relationship  TVComplement  0.987554
8             race  TVComplement  0.995674
9              sex  TVComplement  0.991605
10    capital-gain  KSComplement  0.089890
11    capital-loss  KSComplement  0.528451
12  hours-per-week  KSComplement  0.758614
13  native-country  TVComplement  0.988754
14          income  TVComplement  0.986590

In [24]:
report_coupla_gan.get_details(property_name='Column Shapes')

            Column        Metric     Score
0              age  KSComplement  0.949641
1        workclass  TVComplement  0.955408
2           fnlwgt  KSComplement  0.907654
3        education  TVComplement  0.909577
4    education-num  KSComplement  0.933718
5   marital-status  TVComplement  0.944771
6       occupation  TVComplement  0.876042
7     relationship  TVComplement  0.880144
8             race  TVComplement  0.954383
9              sex  TVComplement  0.927195
10    capital-gain  KSComplement  0.939684
11    capital-loss  KSComplement  0.965388
12  hours-per-week  KSComplement  0.928986
13  native-country  TVComplement  0.873605
14          income  TVComplement  0.974610

In [25]:
report_ctgan.get_details(property_name='Column Shapes')

            Column        Metric     Score
0              age  KSComplement  0.912700
1        workclass  TVComplement  0.797970
2           fnlwgt  KSComplement  0.967778
3        education  TVComplement  0.917861
4    education-num  KSComplement  0.946918
5   marital-status  TVComplement  0.920520
6       occupation  TVComplement  0.838052
7     relationship  TVComplement  0.887944
8             race  TVComplement  0.963783
9              sex  TVComplement  0.924395
10    capital-gain  KSComplement  0.468090
11    capital-loss  KSComplement  0.977885
12  hours-per-week  KSComplement  0.935932
13  native-country  TVComplement  0.903748
14          income  TVComplement  0.981190

In [26]:
report_vae.get_details(property_name='Column Shapes')

            Column        Metric     Score
0              age  KSComplement  0.917570
1        workclass  TVComplement  0.887310
2           fnlwgt  KSComplement  0.581082
3        education  TVComplement  0.909856
4    education-num  KSComplement  0.970718
5   marital-status  TVComplement  0.953588
6       occupation  TVComplement  0.909835
7     relationship  TVComplement  0.940593
8             race  TVComplement  0.965252
9              sex  TVComplement  0.979805
10    capital-gain  KSComplement  0.598490
11    capital-loss  KSComplement  0.986482
12  hours-per-week  KSComplement  0.960786
13  native-country  TVComplement  0.929357
14          income  TVComplement  0.991190

In [27]:
fig = report_coupla.get_visualization(property_name='Column Shapes')
fig.show()

In [28]:
fig = report_coupla_gan.get_visualization(property_name='Column Shapes')
fig.show()

In [29]:
fig = report_ctgan.get_visualization(property_name='Column Shapes')
fig.show()

In [30]:
fig = report_vae.get_visualization(property_name='Column Shapes')
fig.show()

In [32]:
from sdmetrics.single_column import BoundaryAdherence

In [38]:
BoundaryAdherence.compute(
    real_data=real_data['age'],
    synthetic_data=ctgan['age']
)

1.0

In [39]:
from sdmetrics.visualization import get_column_plot

fig = get_column_plot(
    real_data=real_data,
    synthetic_data=vae,
    column_name='age',
    plot_type='distplot'
)

fig.show()