In [1]:
import sdv
import json
import pandas as pd
print(sdv.__version__)

1.8.0

In [19]:
# with open('dataset/adult1.json') as f:
#     metadata = json.load(f)

In [2]:
real_data = pd.read_csv('dataset/adult.csv')

In [31]:
# from sdv.datasets.demo import download_demo
# 
# real_data, metadata = download_demo(
#     modality='single_table',
#     dataset_name='fake_hotel_guests'
# )

In [3]:
from sdv.metadata import SingleTableMetadata
from sdv.single_table import CTGANSynthesizer

In [4]:
# Create a blank SingleTableMetadata
metadata = SingleTableMetadata()
# Import metadata and use detect_from_dataframe
metadata.detect_from_dataframe(real_data)

In [35]:
synthesizer = CTGANSynthesizer(metadata)

In [36]:
synthesizer.fit(real_data)

/home/mfallahi/miniconda3/envs/sdv-test/lib/python3.8/site-packages/torch/cuda/__init__.py:138: UserWarning: CUDA initialization: The NVIDIA driver on your system is too old (found version 11070). Please update your GPU driver by downloading and installing a new version from the URL: http://www.nvidia.com/Download/index.aspx Alternatively, go to: https://pytorch.org to install a PyTorch version that has been compiled with your version of the CUDA driver. (Triggered internally at ../c10/cuda/CUDAFunctions.cpp:108.)
  return torch._C._cuda_getDeviceCount() > 0

In [67]:
synthetic_data = synthesizer.sample(num_rows=500)

In [65]:
synthetic_data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,56,Private,201336,9th,5,Divorced,Transport-moving,Not-in-family,White,Male,0,0,36,England,<=50K
1,17,?,171183,HS-grad,9,Never-married,?,Own-child,White,Female,1,0,40,United-States,<=50K
2,53,Private,235016,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,25,0,40,Vietnam,>50K
3,44,Self-emp-not-inc,36598,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,13,0,36,United-States,>50K
4,27,Private,175379,Bachelors,13,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [68]:
synthetic_data.to_csv("dataset/ctgan_500.csv", index=False)

In [43]:
from sdv.single_table import GaussianCopulaSynthesizer

In [44]:

synthesizer_copula = GaussianCopulaSynthesizer(metadata)

In [45]:
synthesizer_copula.fit(real_data)

In [69]:
synthetic_data_copula = synthesizer_copula.sample(num_rows=500)

In [47]:
synthetic_data_copula.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,47,Private,164076,HS-grad,10,Divorced,Sales,Husband,White,Female,98874,4,46,United-States,<=50K
1,38,Private,361564,Masters,10,Never-married,Prof-specialty,Not-in-family,White,Female,57457,0,37,United-States,<=50K
2,32,Private,101155,Prof-school,11,Married-civ-spouse,Other-service,Unmarried,White,Male,5013,0,20,United-States,<=50K
3,23,Private,141706,HS-grad,14,Married-civ-spouse,Sales,Own-child,White,Male,41684,2,47,United-States,<=50K
4,36,Private,99347,10th,7,Separated,Machine-op-inspct,Not-in-family,White,Male,3,32,52,United-States,<=50K

In [71]:
synthetic_data_copula.to_csv("dataset/copula_500.csv", index=False)

In [5]:
from sdv.single_table import TVAESynthesizer

In [6]:
synthesizer_vae = TVAESynthesizer(metadata)

In [7]:
synthesizer_vae.fit(real_data)

In [10]:
synthetic_data_vae = synthesizer_vae.sample(num_rows=20)

In [11]:
synthetic_data_vae.to_csv("dataset/vae_20.csv", index=False)

In [58]:
from sdv.single_table import CopulaGANSynthesizer

In [59]:
synthesizer_copulaGAN = CopulaGANSynthesizer(metadata)

In [60]:
synthesizer_copulaGAN.fit(real_data)

In [77]:
synthetic_data_copula_gan = synthesizer_copulaGAN.sample(num_rows=500)

In [78]:
synthetic_data_copula_gan.to_csv("dataset/copula-gan_500.csv", index=False)

In [63]:
metadata

{
    "METADATA_SPEC_VERSION": "SINGLE_TABLE_V1",
    "columns": {
        "age": {
            "sdtype": "numerical"
        },
        "workclass": {
            "sdtype": "categorical"
        },
        "fnlwgt": {
            "sdtype": "numerical"
        },
        "education": {
            "sdtype": "categorical"
        },
        "education-num": {
            "sdtype": "numerical"
        },
        "marital-status": {
            "sdtype": "categorical"
        },
        "occupation": {
            "sdtype": "categorical"
        },
        "relationship": {
            "sdtype": "categorical"
        },
        "race": {
            "sdtype": "categorical"
        },
        "sex": {
            "sdtype": "categorical"
        },
        "capital-gain": {
            "sdtype": "numerical"
        },
        "capital-loss": {
            "sdtype": "numerical"
        },
        "hours-per-week": {
            "sdtype": "numerical"
        },
        "native-country": {
            "sdtype": "categorical"
        },
        "income": {
            "sdtype": "categorical"
        }
    }
}